{% extends "admin/custom_base.html" %}
{% import "admin/_macros.html" as macros %}
{% block title %}用户管理{% endblock %}

{% block content %}
<h1>用户管理</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>用户ID</th>
        <th>用户名</th>
        <th>用户邮箱</th>
        <th>用户角色</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role_id}}</td>
        <td><!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    变换角色 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">User</a></li>
    <li><a href="#">Moderator</a></li>
    <li><a href="#">Administrator</a></li>
  </ul>
</div>&nbsp;&nbsp;<button type="button" class="btn btn-danger">删除该用户</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>



<div class="pagination">
    {{ macros.pagination_widget(pagination,"admin.user_manage") }}
</div>
{% endblock %}